.projects {
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.project {
	width: 18rem;
	border: 1px solid gainsboro;
	margin: 10px;
}

.project-image {
	width: 100%;
}
